.Heading_1 {font-family:'Roboto';font-weight:normal;font-style:normal;font-size:80pt;text-decoration:none;text-transform: none;color:#4F5051;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_3 {font-size:60pt;}
