@font-face {font-family: 'Roboto';font-weight:normal;font-style:normal;src: url("xara_font_1.woff?7") format("woff"), local('Roboto');}
@font-face {font-family: 'FontAwesome';font-weight:normal;font-style:normal;src: url("xara_font_2.woff?7") format("woff"), local('FontAwesome');}
